@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);

/* Color scheme
 * Dark : #000000
 * Mi-Dark : #444444
 * Middle : #888888
 * Mi-Light : #cccccc
 * Light : #ffffff
 */


*
{
	font-family: "Lato", sans-serif;
}

body
{
	margin: 0px;
	padding: 0px;
}

h1
{
	margin: 0px;
	padding: 0px;
	margin-top: 15px;
	margin-bottom: 25px;
	
	font-size: 30px; 
	font-weight: lighter;
	text-align: center;
}

ul#monthes
{
	margin: 0px;
	margin-top: 5px;
	padding: 10px 0px;
	text-align: center;
	
	border-top: 1px dashed #cccccc;
	border-bottom: 1px dashed #cccccc;
}

ul#monthes > li.month
{
	display: inline;
	margin: 0px;
	padding: 0px;
	
	padding: 0 20px;
	border-right: 1px solid #cccccc;

	list-style: none;
}

ul#monthes > li.month:last-child
{
	padding-right: 0px;
	border-right: none;
}

ul#monthes > li.selected
{
}

ul#monthes > li.far:after
{
	content: " ... ";
	color: #777777;
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #cccccc;
}

ul#monthes > li.month a
{
	color: #777777;
	text-decoration: none;
}

ul#monthes > li.selected a
{
	color: #404040;
}

ul > li.titles > span
{
	font-weight: bold;
}

ul#users
{
	display: block;
	padding: 0px;
	width: 462px;
	margin: 0 auto; 
	margin-bottom: 20px;
}

ul#users > li
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul#users span.username
{
	display: inline-block;
	width: 150px;
}

ul#users span.purchases
{
	display: inline-block;
	width: 100px;
	text-align: right;
}

ul#users span.target
{
	display: inline-block;
	width: 100px;
	text-align: right;
}

ul#users span.balance
{
	display: inline-block;
	width: 100px;
	text-align: right;
}

ul#users li.titles span.balance,
ul#users li.titles span.purchases,
ul#users li.titles span.target
{
	text-align: left;
}

ul#users span.negative
{
	color: red;
}

ul#users span.positive
{
	color: green;
}

ul#users li > form
{
	display: none;
}

ul#users li.edit > a.add
{
	display: block;
	height: 32px;
	width: 462px;

	line-height: 30px;
	text-align: center;

	color: black;
	text-decoration: none;
}

ul#users li.edit > form
{
	display: none;
}

ul#bills
{
	display: block;
	margin: 0 auto;
	padding: 0px;

	width: 512px;
}

ul#bills > li
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul#bills span.date
{
	display: inline-block;
	width: 100px;
}

ul#bills span.username
{
	display: inline-block;
	width: 150px;
}

ul#bills span.shop
{
	display: inline-block;
	width: 150px;
}

ul#bills span.amount
{
	display: inline-block;
	width: 100px;
	text-align: right;
}

ul#bills li.titles span.amount
{
	text-align: left;
}

ul#bills li.edit > a.add
{
	display: block;
	height: 32px;
	width: 512px;

	line-height: 30px;
	text-align: center;

	color: black;
	text-decoration: none;
}

ul#bills li.edit > form
{
	display: none;
}

