@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);

/* Color scheme
 * Dark : #000000
 * Mi-Dark : #444444
 * Middle : #888888
 * Mi-Light : #cccccc
 * Light : #ffffff
 */


*
{
	font-family: "Lato", sans-serif;
}

body
{
	margin: 0px;
	padding: 0px;
}

h1
{
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 30px;
	
	font-size: 40px; 
	font-weight: lighter;
	text-align: center;
}

h2
{
	margin: 0px;
	padding: 0px;

	font-size: 20px;
	font-weight: lighter;
	text-align: center;
}

ul#monthes
{
	margin: 0px;
	margin-top: 5px;
	padding: 10px 0px;
	text-align: center;
	
	border-top: 1px dashed #cccccc;
	border-bottom: 1px dashed #cccccc;
}

ul#monthes > li.month
{
	display: inline;
	margin: 0px;
	padding: 0px;
	
	padding: 0 20px;
	border-right: 1px solid #cccccc;

	list-style: none;
}

ul#monthes > li.month:last-child
{
	padding-right: 0px;
	border-right: none;
}

ul#monthes > li.selected
{
}

ul#monthes > li.far:after
{
	content: " ... ";
	color: #777777;
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #cccccc;
}

ul#monthes > li.month a
{
	color: #777777;
	text-decoration: none;
}

ul#monthes > li.selected a
{
	color: #404040;
}

ul#users > li.titles, ul#bills > li.titles
{
	padding-bottom: 2px;
	border-bottom: 1px solid #cccccc;
}

ul#users > li.titles > span, ul#bills > li.titles > span
{
	font-weight: bold;
	color: #404040;
}

ul#users > li, ul#bills > li
{
	margin: 0px;
	padding: 0px;
	padding: 5px;
	list-style: none;
	color: #505050;
}

ul#users > li.odd, ul#bills > li.odd
{
	color: #404040;
	background-color: #eeeeee;
}

ul#users > li.empty, ul#bills > li.empty
{
	padding: 20px 0px;
	text-align: center;
}

ul#users
{
	display: block;
	padding: 0px;
	width: 472px;
	margin: 0 auto;
	margin-bottom: 20px;
}

ul#users span.username
{
	display: inline-block;
	width: 150px;
	cursor: pointer;
}

ul#users span.purchases
{
	display: inline-block;
	width: 100px;
	text-align: right;
}

ul#users span.target
{
	display: inline-block;
	width: 100px;
	text-align: right;
}

ul#users span.balance
{
	display: inline-block;
	width: 100px;
	text-align: right;
}

ul#users span.negative
{
	color: #990000;
}

ul#users span.positive
{
	color: #009900;
}

ul#users li > form
{
	display: none;
}

ul#users li.edit
{
	margin-top: 15px;
	border: 2px solid #cccccc;
	background: #eeeeee;
}

ul#users li.edit > a.add
{
	display: block;
	height: 32px;

	line-height: 30px;
	text-align: center;

	color: #404040;
	text-decoration: none;
}

ul#users li.edit > form
{
	display: none;
}

ul#bills
{
	display: block;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

ul#bills span.date
{
	display: inline-block;
	width: 100px;
}

ul#bills span.username
{
	display: inline-block;
	width: 150px;
}

ul#bills span.shop
{
	display: inline-block;
	width: 150px;
}

ul#bills span.amount
{
	display: inline-block;
	width: 100px;
	text-align: right;
}

ul#bills li.summaries
{
	font-weight: bold;
	border-top: 1px solid #cccccc;
}

ul#bills li.edit
{
	margin-top: 15px;
	border: 2px solid #cccccc;
	background: #eeeeee;
}

ul#bills li.edit > a.add
{
	display: block;
	height: 32px;

	line-height: 30px;
	text-align: center;

	color: #404040;
	text-decoration: none;
}

ul#bills li.edit > form
{
	display: none;
	width: 100%;
}

ul#bills li.edit > form span.date { width: 150px; }
ul#bills li.edit > form span.username input { width: 148px; }
ul#bills li.edit > form span.shop input { width: 148px; }
ul#bills li.edit > form span.amount input { width: 98px;  }

ul li.edit > form p.submit
{
	text-align: right;
}
