<include file="header.html" />
		<ul id="monthes">
		<block name="month">
			<li class="month {month.selected} {month.far}"><a href="/?month={month.month}&year={month.year}">{month.name}</a></li>
		</block>
		</ul>

		<h1>{MonthName}</h1>

		<ul id="users">
			<li class="titles">
				<span class="username">{language.username}</span>
				<span class="purchases">{language.purchases}</span>
				<span class="target">{language.target}</span>
				<span class="balance">{language.balance}</span>
			</li>
		<if exp="{UsersCount} > 0">
		<block name="user">
			<li class="user {user.odd}">
				<span class="username">{user.name}</span>
				<span class="purchases">{user.purchases}</span>
				<span class="target">{user.target}</span>
				<span class="balance {user.positive} {user.negative}">{user.balance}</span>
			</li>
		</block>
		<else />
			<li class="user empty">{language.no_user}</li>
		</if>
		</ul>

		<ul id="bills">
			<li class="titles">
				<span class="date">{language.date}</span>
				<span class="username">{language.username}</span>
				<span class="shop">{language.shop}</span>
				<span class="amount">{language.amount}</span>
			</li>
		<if exp="{BillsCount} > 0">
		<block name="bill">
			<li class="bill {bill.odd}">
				<span class="date">{bill.date}</span>
				<span class="username">{bill.user}</span>
				<span class="shop">{bill.shop}</span>
				<span class="amount">{bill.amount}</span>
			</li>
		</block>
		<else />
			<li class="bill empty">{language.no_bill}</li>
		</if>
			<li class="edit">
				<form name="new-bill" id="new-bill" method="post" action="">
					<span class="date"><input type="date" placeholder="{language.date}" name="new-bill-date" id="new-bill-date" pattern="{language.date_pattern}" title="{language.date_pattern_description}" value="" /></span>
					<span class="username"><input type="text" placeholder="{language.username}" name="new-bill-username" id="new-bill-username" required="true" value="" /></span>
					<span class="shop"><input type="text" placeholder="{language.shop}" name="new-bill-shop" id="new-bill-shop" value="" /></span>
					<span class="amount"><input type="number" placeholder="{language.amount}" name="new-bill-amount" id="new-bill-amount" pattern="[0-9]+([.,][0-9]+)?" title="{language.number_description}" required="true" value="" /></span>
					<input type="reset" value="{language.cancel}" />
					<input type="submit" value="{language.add}" />
				</form>
			</li>
		<if exp="{BillsCount} > 0">
			<li class="summaries">
				<span class="summary">{language.summary}</span>
				<span class="amount">{billsSumary}</span>
			</li>
		</if>
		</ul>
<include file="footer.html" />
